<div class="tour">
	<div class="tour-content">
		<div class="tour-content-header">
			<img src="images/logo.png">
		</div>
		<div class="tour-content-body">
			<div class="head">
				<div class="head-left">
					<img src="images/tour/tour-icon.png">
				</div>
				<div class="head-right">
					<div>洛杉矶</div>
					<div>
						<i class="fa fa-plus-circle"></i> 5 <i class="fa fa-minus-circle"></i>
					</div>
				</div>	
			</div>
			<div class="section">
				<div class="section-left">
				</div>

				<div class="section-right">
					<div class="section-right-title">第一天</div>
					<div class="section-right-content">洛杉矶是加州的第一大城（拥有超过400万人口），也是美国的第二大城[8]，仅次于纽约市。它的面积为469.1平方英里（1214.9平方公里）。洛杉矶-长滩-圣安娜都会区拥有1300万人口。</div>
				</div>
			</div>
			<div class="section">
				<div class="section-left">
				</div>

				<div class="section-right">
					<div class="section-right-title">第二天</div>
					<div class="section-right-content">洛杉矶是加州的第一大城（拥有超过400万人口），也是美国的第二大城[8]，仅次于纽约市。它的面积为469.1平方英里（1214.9平方公里）。洛杉矶-长滩-圣安娜都会区拥有1300万人口。</div>
				</div>
			</div>
			<div class="section">
				<div class="section-left">
				</div>

				<div class="section-right">
					<div class="section-right-title">第三天</div>
					<div class="section-right-content">洛杉矶是加州的第一大城（拥有超过400万人口），也是美国的第二大城[8]，仅次于纽约市。它的面积为469.1平方英里（1214.9平方公里）。洛杉矶-长滩-圣安娜都会区拥有1300万人口。</div>
				</div>
			</div>


		</div>
		<div class="tour-content-footer">
			<div class="icon"><i class="fa fa-user"></i></div>
			<div class="content">选择导游</div>
		</div>
	</div>

	<div class="tour-map">
		<ng-map center="[40.74, -74.18]" style="height: 600px"></ng-map>
	</div>
</div>