<div class="tour">
	<div class="tour-content">
		<div class="tour-content-header">
			<img src="images/logo.png">
		</div>
		<div class="tour-content-body" dnd-list="tours">
			<div class="tour-content-section" ng-repeat = "tour in tours" 
			dnd-draggable="tour" 
			dnd-moved="tours.splice($index, 1)"
        	dnd-effect-allowed="move"
        	dnd-selected="tours.selected = tour"
        	ng-class="{'selected': tours.selected === item}"
			>
				<div class="head">
					<div class="head-left">
						<img src="images/tour/tour-icon.png">
					</div>
					<div class="head-right">
						<div>{{tour.city_name}}</div>
						<div>
							<i class="fa fa-plus-circle" ng-click="planPlus(tour)"></i> {{tour.num_days}} <i class="fa fa-minus-circle" ng-click="planMinus(tour)"></i>
						</div>
					</div>	
				</div>
				<div class="section" ng-repeat="plan in tour.plans">
					<div class="section-left">
						<div class="circle"></div>
					</div>

					<div class="section-right">
						<div class="section-right-title" ng-click="toggleContent(plan)">
							<div>第 {{plan.day_id}} 天</div>
							<i class="fa fa-caret-down"></i>
						</div>
						<div class="section-right-content" ng-if="plan.contentStatus">
							<div ng-repeat="spot in plan.spot">
								{{spot.spot_name}} --- {{spot.hours}} Hours
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tour-content-footer" ng-click="chooseGuide()">
			<div class="icon"><i class="fa fa-user"></i></div>
			<div class="content" ng-click="chooseGuide()">选择导游</div>
		</div>
	</div>

	<div class="guide-content" ng-if="showGuide">
		<div class="guide-content-header">
			<i class="fa fa-chevron-left" ng-click="gotoStep(1)"></i>选择导游
		</div>
		<div class="guide-content-body">
			<div class="guide-content-section" ng-repeat = "guide in tour.guideList">
				<div class="guide-section-left">
					<img ng-src={{guide.photo_url}} ng-click="openGuideModal(guide)">
				</div>
				<div class="guide-section-middle">
					<div class="middle-header">
						<p>{{guide.name}}</p>
						<div class="stars">
                    		<i class="fa fa-star"></i>
                    		<i class="fa fa-star"></i>
		                    <i class="fa fa-star"></i>
		                    <i class="fa fa-star"></i>
		                    <i class="fa fa-star-o"></i>
                		</div>
					</div>
					<hr>
					<div>
						<div>导游经验: {{guide.experience}} 年</div>
						<div>驾龄: {{guide.drive_year}} 年</div>
					</div>
					<div>
						<div>服务城市: {{guide.city}} </div>
					</div>

					<div>
						<div>用车: {{guide.car}}</div>
					</div>
					<div>
						<div>标签: <span ng-repeat="tag in guide.tag" class="drivetag">{{tag}}</span></div>
					</div>
				</div>
				<div class="guide-section-right">
					<div ng-click="selectGuide(guide)">
						预定
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="guide-content" ng-if="showOrder">
		<div class="guide-content-header">
			<i class="fa fa-chevron-left" ng-click="gotoStep(2)"></i>定制结果
		</div>
		<div class="guide-content-body">
			<div class="guide-content-section">
				<div class="guide-section-left">
					<img ng-src="{{selectedGuide.photo_url}}">
				</div>
				<div class="guide-section-middle">
					<div class="middle-header">
						<p>{{selectedGuide.name}}</p>
						<p>Star: {{selectedGuide.score}}</p>
					</div>
					<hr>
					<div>
						<div>籍贯: {{selectedGuide.citizenship}}</div>
						<div>居住: </div>
					</div>
					<div>
						<div>导游经验: {{selectedGuide.experience}} 年</div>
						<div>驾龄: {{selectedGuide.drive_year}} 年</div>
					</div>
					<div>
						<div>用车:</div>
					</div>
					<div>
						<div>标签:</div>
					</div>
				</div>
				<div class="guide-section-right" >
					<div ng-click="cancelSelectedGuide()">
						取消
					</div>
				</div>
			</div>
		</div>
		<div class="guide-content-footer">
			<div class="icon"><i class="fa fa-credit-card"></i></i></div>
			<div class="content">支付</div>
		</div>
	</div>


	<div class="tour-map" ng-if="showMap">
		<ng-map zoom="8" center="{{tour[0].city_name}}" style="height: 100%" zoom-to-include-markers="true">
			<custom-marker ng-repeat="tour in tours"
			  position="{{tour.city_name}}">
			  <div class="mapmarker">
			    <div>{{tour.city_name}}</div>
			    <div>停留: {{tour.num_days}}天</div>
			  </div>
			</custom-marker>
		</ng-map>
	</div>

</div>