@import 'variables';



.banner-form-group {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	div {
		width: 100%;
		margin-right: 10px;
	}
	div:last-child {
		margin-right: 0;
	}
}


.form-select {
	position: relative;
	.inputgroups {
		display: flex;
		width: 100%;
		flex: 1;
		i {
			font-size: 1.3rem;
			margin: 0;
			background: $traverllerOrange;
			border-radius: 50%;
			padding: 4px;
			margin-left: -30px;
			margin-top: 14px;
		}
		i:hover {
			cursor:pointer;
			opacity: 0.6;
		}
	}
	input {
		width: 100%;
		border-radius: 5px;
		height: 50px;
		font-size: 1.5rem;
	}
}

.selectlayer {
	position: absolute;
	padding: 10px;
	width: 100%;
	background: #CCCCCC;
	border-radius: 5px;
	color: white;
	font-size: 1.4rem;
	font-weight: 600;
	opacity: 0.9;
	z-index: 99;
}

.selectlayer p:hover {
	cursor: pointer;
	color: red;
}

.main-form .form-button button{
	background: $traverllerOrange;
	font-size: 1.8rem;
	font-weight: 600;
	&:hover {
		opacity: 0.8;
		color: white;
	}
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }