@import 'variables';

.tour {
	width: 100%;
	display: flex;
	margin: 50px auto;
	padding: 0 10px;
}

.tour-content {
	border: 1px solid #E9E5DC;
	margin-left: 20px;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.tour-content-header {
		padding: 10px;
		img{
			width: 50%;
		}
	}

	.tour-content-footer{
		widht: 100%;
		background: $traverllerOrange;
		color: white;
		font-weight: 500;
		font-size: 2rem;
		padding: 10px 0 10px 0;
		display:flex;
		margin-right: 15px;
		.icon {
			width: 20%;
			padding-left: 15%;
			font-size: 2.2rem;
		}
		.content {
		 	width: 80%;
		 	padding-left: 20%;
		}
	}

	.tour-content-body {
		height: 500px;
		padding: 20px;
		background: $travellerLightGray;
		overflow: scroll;
		display: flex;
		flex-direction: column;
		.head {
			width: 100%;
			display: flex;
			font-size: 1.5rem;
			align-items: center;
			.head-left {
				width: 20%;	
				text-align: center;
				img {
					width: 80%;
				}	
			}
			.head-right {
				width: 80%;
				height: 100%;
				padding: 10px;
				background: white;
				font-weight: 500;
				display: flex;
				justify-content: space-between;
				i {
					color: $traverllerOrange;
				}
			}
		}
		.section {
			display: flex;
			.section-left{
				width: 20%;
				align-self: center;
				.circle {
					background: $traverllerOrange;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					margin: 0 auto;
				
				}
			}
			.section-right {
				width: 80%;
				font-size: 1.4rem;
				.section-right-title {
					padding: 10px 20px 10px 20px;
					font-weight: 500;
					display: flex;
					margin-bottom: 5px;
					justify-content: space-between;
					background: white;
					i {
						font-size: 1.68rem;
						&:hover {
							cursor: pointer;
						}
					}
				}
				.section-right-content {
					background: white;
					padding: 10px;
				}
			}
		}
	}
}

.tour-map {
	width: 70%;
}